In [52]:
import pandas as pd # library for data analsysis

In [53]:
s = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M") #Scraping the wiki page
df = s[0]# Getting the table from the wiki page as a dataframe

In [54]:
df.shape
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [55]:
df = df[df['Borough'] !='Not assigned'].reset_index(drop=True, ) #processing only the cells that have an assigned borough. 
df.shape

(210, 3)

In [56]:
df[df.duplicated('Postcode')]
df[df['Postcode']=='M9B']

   Postcode    Borough     Neighbourhood
15      M9B  Etobicoke        Cloverdale
16      M9B  Etobicoke         Islington
17      M9B  Etobicoke      Martin Grove
18      M9B  Etobicoke  Princess Gardens
19      M9B  Etobicoke   West Deane Park

In [57]:
df =df.groupby(['Postcode','Borough'])
df=df['Neighbourhood'].apply(', '.join).reset_index() 
df.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [58]:
for ii in range(len(df)):
    if df['Neighbourhood'].iloc[ii] =='Not assigned':
        df['Neighbourhood'].iloc[ii]= df['Borough'].iloc[ii]

In [60]:
df.shape

(103, 3)